
<head>

    <title>Give Your Page a Good Title</title>
</head>
<body>
     background-color: lightblue;
  c {
     color: green;
     font-size: 20px;
     text-align: center;
  }
</body>
